In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/Stijnvhd/AutoML_DL_Course/main/Sunspots/Sunspots.csv'
df = pd.read_csv(url,index_col=0,parse_dates=[0])
df.head(5)

         Date  Monthly Mean Total Sunspot Number
0  1749-01-31                               96.7
1  1749-02-28                              104.3
2  1749-03-31                              116.7
3  1749-04-30                               92.8
4  1749-05-31                              141.7

In [3]:
from sklearn.model_selection import train_test_split
from supervised.automl import AutoML

In [4]:
X = pd.DataFrame(df["Date"])
y = pd.Series(df["Monthly Mean Total Sunspot Number"], name="Monthly Mean Total Sunspot Number")

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [5]:
automl = AutoML(total_time_limit=10*60)
automl.fit(X_train, y_train)

pred = automl.predict_all(X_test)

pred.head()

AutoML directory: AutoML_1
The task is regression with evaluation metric rmse
AutoML will use algorithms: ['Baseline', 'Linear', 'Decision Tree', 'Random Forest', 'Xgboost', 'Neural Network']
AutoML will ensemble available models

2021-10-03 09:28:36,956 supervised.preprocessing.eda ERROR There was an issue when running EDA. We need at least 1 word to plot a word cloud, got 0.

AutoML steps: ['simple_algorithms', 'default_algorithms', 'ensemble']
* Step simple_algorithms will try to check up to 3 models
1_Baseline rmse 66.987005 trained in 0.24 seconds
2_DecisionTree rmse 66.229519 trained in 12.64 seconds
3_Linear rmse 63.356154 trained in 3.36 seconds
* Step default_algorithms will try to check up to 3 models
4_Default_Xgboost rmse 64.154752 trained in 6.92 seconds
5_Default_NeuralNetwork rmse 63.448048 trained in 1.59 seconds
6_Default_RandomForest rmse 65.994538 trained in 20.5 seconds
* Step ensemble will try to check up to 1 model
Ensemble rmse 63.267194 trained in 0.26 seconds
AutoML fit time: 51.56 seconds
AutoML best model: Ensemble

   prediction
0   80.333666
1   79.589810
2   82.203973
3   82.203973
4   89.186681